[submodule "socialmedia-application-frontend"]
	path = socialmedia-application-frontend
	url = https://github.com/mikorozek/socialmedia-application-frontend.git
[submodule "socialmedia-application-backend"]
	path = socialmedia-application-backend
	url = https://github.com/mikorozek/socialmedia-application-backend.git
